html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(135deg, #95A472, #D6FFB7);
  color: #333333;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
}

header {
  display: flex;
  align-items: center;
  font-family: 'Bitter', serif;
  margin-bottom: 25px;
}

header div {
  display: flex;
  flex-direction: column;
}

header img {
  height: 125px;
  margin-right: 15px;
}

header h1 {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

header strong {
  font-size: 24px;
}

.contact {
  display: flex;
}

.contact p {
  margin: 25px;
}

.contact p strong {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}

.contact p a {
  display: flex;
  align-items: center;
  color: #333333;
  margin-bottom: 5px;
  text-decoration: none;
}

.contact p a img {
  height: 18px;
  margin-right: 5px;
}

.contact p a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  header {
    text-align: center;
    flex-direction: column;
  }

  header img {
    height: 100px;
  }

  header h1 {
    margin-top: 5px;
    font-size: 35px;
  }

  header strong {
    font-size: 18px;
  }

  .contact {
    flex-direction: column;
  }

  .contact p {
    margin: 10px;
  }
}
